<?xml version="1.0"?>
<launch>
    <param name="robot_description" 
           command="$(find xacro)/xacro '$(find racecar_description)/urdf/racecar.xacro'"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam param="source_list">["/vesc/joint_states"]</rosparam>
        <param name="rate" value="30"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="30.0"/>
    </node>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth"   value="true"/>
        <arg name="color_width"   value="640"/>
        <arg name="color_height"  value="480"/>
        <arg name="color_fps"     value="30"/>
        <arg name="depth_width"   value="640"/>
        <arg name="depth_height"  value="480"/>
        <arg name="depth_fps"     value="30"/>
        <arg name="camera"        value="camera"/>
    </include>

</launch>